<app-hello-world></app-hello-world>

<h3>Current customer: {{ currentItem }}</h3>

<app-item-detail [item]="currentItem"></app-item-detail>

<app-item-ouput (newItemEvent)="addItem($event)"></app-item-ouput>

<ul>
  <li *ngFor="let item of items">{{item}}</li>
</ul> 

<!--declarations de template-->
<button type="button" (click)="deleteHero()">Delete Item</button>
<button type="button" (click)="onSave($event)">Save</button>
<form #heroForm (ngSubmit)="onSubmit(heroForm)"> ... </form>

<!--Interpolation-->
<p>{{ title }}</p>
<img alt="item" src="{{itemImageUrl}}">

<img alt="item" [src]="itemImageUrl">
<br>

<table border>
  <tr><td [attr.colspan]="2">Merged Columns</td></tr>
  <tr><td>Col 1</td><td>Col 2</td></tr> 
  <tr><td>Col 1</td><td>Col 2</td></tr> 
</table>

<br>
<button type="button" [attr.aria-label]="actionName">{{actionName}} with Aria</button>

<br>
<p [attr.title]="undefined"></p>
<!-- Le titre sera supprimé -->

<br>
<div [class.sale]="onSale"></div>

<br>
<div [style.background-color]="bgColor">css de sekou avec dash-case</div>
<div [style.backgroundColor]="'green'">css de sekou avec camelcase</div>

<br>
<div [style.width.px]="width"> width de sekou px</div>
<div [style.margin.%]="margin"> width de sekou %</div>

<div [style]="'width: 100px; height: 50px;'"> test width and height string</div>
<div [style]="{ 'width': '100px', 'backgroundColor': 'blue' }">test width and height with object</div>

<nav [class]="navClass" [style]="navStyle">
  <a [class.active]="isActive" [style.textDecoration]="linkStyle">Home  </a>
  <a [style.text-decoration]="activeLinkStyle">Login</a>
</nav> 

<!-- 


-->


<!--







<input (input)="onInput($event)" />

<input (keydown.enter)="onEnter()" />

<input (keydown.shift.t)="onShiftT()" />
-->





